body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #f9f9f9;
}

a {
  text-decoration: none;
}
h1, h2, h3 {
  font-family: 'Playfair Display', serif;
}

button {
  cursor: pointer;
}
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}