
.lista {
  min-height: 100vh;

  background-image: url("/images/imagem_fundo.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  display: flex;
  justify-content: center;

  padding: 16px; /* 🔥 leve e responsivo */
}
@media (min-width: 768px) {
  .lista {
    padding: 32px;
  }
}
.lista__container {
  width: 100%;
  max-width: 500px;

  padding: 20px;

  box-sizing: border-box;
}



h1 {
  margin:0;
}
.lista__header {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  z-index: 1;
  gap: 16px;
  margin-top: 56px;
}
.lista__title {
  font-family: 'Playfair Display', serif;
  text-align: center;  
  color: #5c4b44;
  line-height: 1;
}
.lista__subtitle {
  font-family: 'Playfair Display', serif;
  text-align: center;  
  color: #5c4b44;
  line-height: 1;
}

.lista__grid {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 24px;
  position: relative; /* 🔥 REMOVE absolute */
}


